body,
html {
    margin: 0;
    padding: 0;
    background-color: white;
    /*    overflow: hidden;*/
    font-family: Avenir;
}

@font-face {
    font-family: 'PoiretOne';
    src: url('/Schriften/PoiretOne-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Avenir';
    src: url('/Schriften/Avenir.ttf') format('truetype');
}

a {
    text-decoration: none;
    color: black;
    padding: 0;
    margin: 0;
}

li {
    margin: 20px;
}

#startseite {
    height: 100vh;
}

#logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1100px;
    height: auto;
}

#laender img {
    justify-content: center;
    height: 100px;
    width: 100px;
    border-radius: 90px;
}

#laender ul {
    display: flex;
    /*    margin-left: 22%;*/
}

#laender ul li {
    list-style: none;
}

#laender ul li a {
    display: block;
    border-radius: 90px;
      transition: 1s;
}

#laender ul li a:hover {
    -webkit-box-shadow: 10px 10px 32px -7px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 10px 10px 32px -7px rgba(0, 0, 0, 0.5);
    box-shadow: 10px 10px 32px -7px rgba(0, 0, 0, 0.5);
    transform: scale(1.3);
    transition: 1s;

}

#title {
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#title img {
    width: 100vw;
    height: 100vh;
}

h1 {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -50%);
    font-size: 190pt;
    font-family: PoiretOne, arial, sans-serif;
}

h2 {
    color: black;
    transform: translate(-50%, -50%);
    font-size: 25pt;
    font-family: PoiretOne, arial, sans-serif;
    text-transform: lowercase;
    text-align: center;
}

h3 {
    color: black;
    transform: translate(-50%, -50%);
    font-size: 17pt;
    text-align: center;
}

nav {
    z-index: 1;
    background: rgb(255, 255, 255, 0.8);
    position: sticky;
    top: 0;
    width: 100%;
    height: 80px;
    transition: 0.5s;
    box-sizing: border-box;
    padding: 0 140px 0 215px;
    font-size: 25pt;
    font-family: PoiretOne, arial, sans-serif;
}

nav img {
    padding: 20px 0 10px 0;
    height: 40px;
    width: auto;
}

nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    float: right;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    display: block;
    color: #bcbdbeff;
    padding: 0 20px;
    text-decoration: none;
    text-transform: lowercase;
    line-height: 50px;
}

nav ul li a:hover {
    /*    background-color: #bcbdbeff;*/
    color: black;
}

#main {
    position: absolute;

    width: calc(100% - 560px);
    min-height: 100%;
    padding: 100px 280px 50px;
    justify-content: center;
    align-items: center;
}

#content {
    width: 100%;
    position: relative;
}

.inhaltsTrennung {
    height: 30px;
}

.bildLinks img {
    height: auto;
    width: 200px;
    border-radius: 180px;
    float: left;
}

.bildMitte img {
    height: auto;
    width: 200px;
    border-radius: 180px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.bildRechts img {
    height: auto;
    width: 200px;
    border-radius: 180px;
    float: right;
}

.textRechts {
    width: 50%;
    margin: 0 0 0 40%;
}

.textLinks {
    width: 50%;
    margin: 0 0 0 10%;
}

.hervorhebung {
    background-color: white;
    height: auto;
    width: auto;
    padding: 20px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
    border-radius: 25px;
}

section {
    background-color: white;
    height: auto;
    margin: 0;
    margin-bottom: 75px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
    border-radius: 25px;
}

.video {
    background: lightgray;
}

#gericht1 {
    padding: 50px 100px 40px 100px;

}

#gericht2 {
    padding: 50px 100px 40px 100px;

}

#attraktionen {
    padding: 50px 100px 40px 100px;
}

#buchen {
    padding: 50px 100px 40px 100px;
}

#footer {
    position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   color: white;
   text-align: center;
    margin-bottom: 20px;
    font-size: 25pt;
    font-family: PoiretOne, arial, sans-serif;
}

.sponsoren {
    margin-top: 4000px;

    padding: 40px;
    height: 150px;
    background: #BCBDBE;
    text-align: center;
    font-size: 17pt;
    font-family: PoiretOne, arial, sans-serif;
}

.sponsoren a img {
    position: relative;
    filter: grayscale(100%);
    transition: 1s;
    height: 70px;
    margin: 0 5px 30px 5px;
}

.sponsoren a img:hover {
    filter: grayscale(0%);
    transition: 1s;
}
